In [1]:
543

543

In [1]:
"Utkarsh"

'Utkarsh'

In [6]:
print(1,2,3)

1 2 3

In [7]:
print('bramhastra',2022)

bramhastra 2022

In [8]:
print("Utkarsh")

Utkarsh

In [9]:
print("1,2,3")

1,2,3

In [10]:
print('This is a line')
print('Another line')
print('and the final text')

This is a line
Another line
and the final text

In [13]:
a=10
print(a)
b=20
c=30
print(b,c)

10
20 30

In [14]:
city='Lucknow'
state='Uttar Pradesh'
name='adam'

In [15]:
name='Randolf'

In [18]:
food=input()
print(food)

maggie

In [22]:
name=input()
print(name)

utkarsh

In [23]:
city=input()
print(city)

kanpur

In [24]:
a='apple'
type(a)

str

In [25]:
a=100
type(a)

int

In [26]:
a=True
type(a)

bool

In [27]:
a=0.11
type(a)

float

In [28]:
a=None
type(a)

NoneType

In [30]:
a="300"
print(a,type(a))

300 <class 'str'>

In [34]:
a='300'
print(a,type(a))
b=int(a)
a=int(a)
print(b,type(b))
print(a,type(a))

300 <class 'str'>
300 <class 'int'>
300 <class 'int'>

In [38]:
a=input("enter A=")
b=input("enter B=")
print(type(a),type(b))
a=int(a)
b=int(b)
print(a+b)

<class 'str'> <class 'str'>
3

In [41]:
num1=int(input("enter num1"))
num2=int(input("enter num2"))
ans=num1*num2
print(ans)

430

In [1]:
from tkinter import N


x=10
y=3

In [2]:
x+y

13

In [3]:
x-y

7

In [4]:
x*y

30

In [5]:
x%y

1

In [6]:
x/y

3.3333333333333335

In [8]:
x//y

3

In [11]:
x+=5

In [12]:
x+y

23

In [14]:
x*=7

In [15]:
x+y

143

In [16]:
x>10

True

In [17]:
x<9

False

In [18]:
x!=6

True

In [19]:
x==9

False

In [20]:
x==y

False

COMPARISON

In [24]:
'Apple'=='Apple'

True

In [26]:
'apple'=='banana'

False

In [27]:
x<5 and x<6

False

In [28]:
x<5 or x<7

False

In [29]:
x>130 and x>120

True

In [30]:
x==5 or x==140

True

In [31]:
not x>150

True

In [32]:
not x<20

True

In [37]:
x is y

False

In [39]:
x is not y

True

In [43]:
a=[4,6,8,9,9,]

In [44]:
2 in a

False

In [45]:
4 in a

True

##Formatted string & msg

In [47]:
l=10.5
b=6.10

In [61]:
area=l*b
print("l=10.5")
print("b=6.10")
print("area=",area)

l=10.5
b=6.10
area= 64.05

In [57]:
l=10.5
b=6.10
area=l*b
print("{}*{}={}".format(l,b,area))

10.5*6.1=64.05

In [60]:
print(f'{l}*{b}={area}')

10.5*6.1=64.05

In [64]:
print(f'{l}*{b}={area:.3f}')

10.5*6.1=64.050