In [2]:
emp = ['Amar','deep','finance',2300,10000,30000,31,True,False,'Acme']

In [3]:
emp_dict = {
    'fname':'Amar',
    'lname':'deep',
    'dept':'finance',
    'age':31,
    'salary':10000,
    'bonus':30000,
    'is_manager':True,
    'is_executive':False,
    'company':'acme'}

In [4]:
print(emp_dict)

{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': 31, 'salary': 10000, 'bonus': 30000, 'is_manager': True, 'is_executive': False, 'company': 'acme'}

In [5]:
weather_data = {
    'date':'2019-01-04',
    'temp':32,
    'details':{
        'humidty': 80,
        'wind': 10,
        'pressure':30,
        'aqi': 120
    },
    'city':'lucknow',
    'type':'sunshine',
    'icon':'☀️'
    }

In [6]:
weather_data.keys()

dict_keys(['date', 'temp', 'details', 'city', 'type', 'icon'])

In [7]:
weather_data.values()

dict_values(['2019-01-04', 32, {'humidty': 80, 'wind': 10, 'pressure': 30, 'aqi': 120}, 'lucknow', 'sunshine', '☀️'])

In [8]:
emp_dict.keys()

dict_keys(['fname', 'lname', 'dept', 'age', 'salary', 'bonus', 'is_manager', 'is_executive', 'company'])

In [9]:
print(weather_data)

{'date': '2019-01-04', 'temp': 32, 'details': {'humidty': 80, 'wind': 10, 'pressure': 30, 'aqi': 120}, 'city': 'lucknow', 'type': 'sunshine', 'icon': '☀️'}

In [10]:
weather_data['city']

'lucknow'

In [11]:
weather_data['temp']

32

In [12]:
weather_data['details']

{'humidty': 80, 'wind': 10, 'pressure': 30, 'aqi': 120}

In [13]:
weather_data.get('temp')

32

In [14]:
weather_data.get('location')

In [15]:
weather_data.get('cold','not found')

'not found'

In [16]:
#looping over a dictionary

In [17]:
for k in emp_dict:
    print(k,'=>',emp_dict[k])

fname => Amar
lname => deep
dept => finance
age => 31
salary => 10000
bonus => 30000
is_manager => True
is_executive => False
company => acme

In [18]:
#looping over a dictionary using items()

In [19]:
for k,v in emp_dict.items():
    print(k,'=>',v)

fname => Amar
lname => deep
dept => finance
age => 31
salary => 10000
bonus => 30000
is_manager => True
is_executive => False
company => acme

In [20]:
weather_data['temp'] = 35

In [21]:
weather_data

{'date': '2019-01-04',
 'temp': 35,
 'details': {'humidty': 80, 'wind': 10, 'pressure': 30, 'aqi': 120},
 'city': 'lucknow',
 'type': 'sunshine',
 'icon': '☀️'}

In [25]:
#adding data
emp_dict['designation']= 'asst A'
print(emp_dict)

{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': 31, 'salary': 10000, 'bonus': 30000, 'is_manager': True, 'is_executive': False, 'company': 'acme', 'designation': 'asst A'}

In [27]:
#updating data
emp_dict['designation']='Section manager'
emp_dict['salary'] = 30000
print(emp_dict)

{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': 31, 'salary': 30000, 'bonus': 30000, 'is_manager': True, 'is_executive': False, 'company': 'acme', 'designation': 'Section manager'}

In [32]:
#remove any entry 
emp_dict.pop('is_executive')

KeyError: 'is_executive'

In [29]:
emp_dict

{'fname': 'Amar',
 'lname': 'deep',
 'dept': 'finance',
 'age': 31,
 'salary': 30000,
 'bonus': 30000,
 'is_manager': True,
 'company': 'acme',
 'designation': 'Section manager'}

In [33]:
if "is_executive" in emp_dict:
    emp_dict.pop('is_executive')

In [34]:
emp_dict['is_employee']=True

In [35]:
emp_dict

{'fname': 'Amar',
 'lname': 'deep',
 'dept': 'finance',
 'age': 31,
 'salary': 30000,
 'bonus': 30000,
 'is_manager': True,
 'company': 'acme',
 'designation': 'Section manager',
 'is_employee': True}

In [36]:
if "is_employee" in emp_dict:
    emp_dict.pop('is_employee')

In [42]:
reports = {
    '001': {
        'name':'Amar',
        'subjects': {'english':80,'maths':90,'science':80} 
    },
    '002':{
        'name':'Vijay',
        'subjects':{'english':70,'maths':80,'science':79}
    },
    '003':{
        'name':'Raj',
        'subjects':{'english':60,'maths':89,'science':89}
    },
}

In [43]:
reports

{'001': {'name': 'Amar',
  'subjects': {'english': 80, 'maths': 90, 'science': 80}},
 '002': {'name': 'Vijay',
  'subjects': {'english': 70, 'maths': 80, 'science': 79}},
 '003': {'name': 'Raj',
  'subjects': {'english': 60, 'maths': 89, 'science': 89}}}

In [48]:
for roll, data in reports.items():
    print("roll no.",roll)
    for key, val in data.items():
        print(key)
        if isinstance(val,dict):
            for sub,marks in val.items():
                print(sub,marks)
            else:
                print(key,val)
            print('--'*10)

roll no. 001
name
subjects
english 80
maths 90
science 80
subjects {'english': 80, 'maths': 90, 'science': 80}
--------------------
roll no. 002
name
subjects
english 70
maths 80
science 79
subjects {'english': 70, 'maths': 80, 'science': 79}
--------------------
roll no. 003
name
subjects
english 60
maths 89
science 89
subjects {'english': 60, 'maths': 89, 'science': 89}
--------------------

In [53]:
for roll, data in reports.items():
    print("roll no.",roll)
    for key, val in data.items():
        print(key)
        if isinstance(val,dict):
            print(key)
            total = 0
            for sub,marks in val.items():
                print(sub,marks)
                total += marks
                print(f'Total:{total}/300')
                print(f'Prct:{total/300*100:.2f}%')
            else:
                print(key,val)
            print('--'*10)

roll no. 001
name
subjects
subjects
english 80
Total:80/300
Prct:26.67%
maths 90
Total:170/300
Prct:56.67%
science 80
Total:250/300
Prct:83.33%
subjects {'english': 80, 'maths': 90, 'science': 80}
--------------------
roll no. 002
name
subjects
subjects
english 70
Total:70/300
Prct:23.33%
maths 80
Total:150/300
Prct:50.00%
science 79
Total:229/300
Prct:76.33%
subjects {'english': 70, 'maths': 80, 'science': 79}
--------------------
roll no. 003
name
subjects
subjects
english 60
Total:60/300
Prct:20.00%
maths 89
Total:149/300
Prct:49.67%
science 89
Total:238/300
Prct:79.33%
subjects {'english': 60, 'maths': 89, 'science': 89}
--------------------

# file handling
- open a file
- reading a file
- writimg a file
- appending a file

In [55]:
f = open('hello.py')
print(f.read())

print("hemllo world")

In [61]:
f = open(r'C:\Users\91831\utk.txt')
print(f.read())

hello im working on it

In [63]:
data = 'hi everyone,this is a sample file'
with open('mydata.txt','w') as file:                                       #w is for creating a file
    file.write(data)

In [64]:
data = '\nthis is the new data that is going to be written'
with open('mydata.txt','a') as file:                                             #a is to add data , this is basically append
    file.write(data)

In [66]:
file = 'bio.text'
content = ''
while True:
    line = input('Enter a line (or q to quit):')
    if line == 'q':
        break
    content += line + '\n'

with open(file,'w') as f:
    f.write(content)
    print(f'file {file} saved')

file bio.text saved