#loops
- for
1. iteration
2. traversal
3. (no. of steps are known)
- while
1. user input
2. condition based
3. (num of steps unknown)

In [ ]:
x = [1,0,4,5,9,33]
for i in x:
    print(i)

1
0
4
5
9
33

In [ ]:
colors = ['red','blue','green','rainbow']
for val in colors:
    print(f'we got {val}')

we got red
we got blue
we got green
we got rainbow

In [ ]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
for i in range(1,31):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [ ]:
for i in range (1,101):
    print(i,end="\t")

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

In [ ]:
for i in range(1,11):
    print(f'2 * {i} = {2 * i}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

```
range(10)  0-9
range(5,10) 5-9
range(1,10,2) 1 ,3, 5, 7, 9
range(10,0,-1) 10 9 8 7 6 5 4 3 2 1

In [ ]:
for i in range(1, 100, 5):
    print(i, end=" ")

1 6 11 16 21 26 31 36 41 46 51 56 61 66 71 76 81 86 91 96

In [ ]:
#reverse loop
for i in range(10, 0, -1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1

In [ ]:
veg = ['potatoðŸ¥”','tomatoðŸ…','onionðŸ§…','cabbageðŸ¥¬','carrotðŸ¥•']
for item in veg:
    print(item)

potatoðŸ¥”
tomatoðŸ…
onionðŸ§…
cabbageðŸ¥¬
carrotðŸ¥•

enumerate()

In [ ]:
for item in enumerate(veg):
    print(item)

(0, 'potatoðŸ¥”')
(1, 'tomatoðŸ…')
(2, 'onionðŸ§…')
(3, 'cabbageðŸ¥¬')
(4, 'carrotðŸ¥•')

In [ ]:
for index, value in enumerate(veg):
    print(index,'got',value)

0 got potatoðŸ¥”
1 got tomatoðŸ…
2 got onionðŸ§…
3 got cabbageðŸ¥¬
4 got carrotðŸ¥•

zip

In [ ]:
veg = ['potatoðŸ¥”','tomatoðŸ…','onionðŸ§…','cabbageðŸ¥¬','carrotðŸ¥•']
prices = [35, 80, 30, 15,30]

In [ ]:
for i in range(len(veg)):
    print(f'{veg[i]}________ðŸ’µ{prices[i]}')

potatoðŸ¥”________ðŸ’µ35
tomatoðŸ…________ðŸ’µ80
onionðŸ§…________ðŸ’µ30
cabbageðŸ¥¬________ðŸ’µ15
carrotðŸ¥•________ðŸ’µ30

pathonic

In [ ]:
for v,p in zip(veg, prices):
    print(f'{v}__________ðŸ’µ{p}')

potatoðŸ¥”__________ðŸ’µ35
tomatoðŸ…__________ðŸ’µ80
onionðŸ§…__________ðŸ’µ30
cabbageðŸ¥¬__________ðŸ’µ15
carrotðŸ¥•__________ðŸ’µ30

# wap to print the following lists using zip
-  list1 contains movie title
-  list2 contains movie rating
-  list3 contains movie year
-  list4 contains movie director

In [ ]:
movie = ['antman','no way home','endgame','infinity war','love and thunder']
rating = [7, 8, 4, 8, 6]
year = [2016, 2018, 2019, 2020, 2021]
director = ['Anthony Russo','Anthony Russo','Anthony Russo','Anthony Russo','Anthony Russo']

In [ ]:
for m,r,y,d in zip(movie,rating,year,director):
    print(f'{m}---{r}---{y}---{d}---')

antman---7---2016---Anthony Russo---
no way home---8---2018---Anthony Russo---
endgame---4---2019---Anthony Russo---
infinity war---8---2020---Anthony Russo---
love and thunder---6---2021---Anthony Russo---

# nested loop

In [ ]:
for i in range(10):
    for i in range(10):
        print(i, end=' ')
    print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

# break and continue

In [ ]:
x = [1, 2, 3, 4, 5, 6, 0, 2, 1]

In [ ]:
for i in x:
    if i == 0:
        break
    print(i)

1
2
3
4
5
6

In [ ]:
for i in x:
    if i == 0:
        continue
    print(i)

1
2
3
4
5
6
2
1

In [ ]:
x = [1, 2, 0, 9, 3, 2, 1, 4, 6]
for i in x:
    if i != 0:
        print(i)

1
2
9
3
2
1
4
6

In [ ]:
num = 18
for i in range(2, num):
    if num % i == 0:
        print('not prime')
        break
else: # else block will execute only if for loop is not broken
    print('prime')

not prime

In [ ]:
for num in range(1, 100):
    if num == 1:
        continue
    for i in range(2,num):
        if num % i == 0:
            break
    else:
        print(num,end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [2]:
num = int(input("enter a number"))
for i in range(2, num):
    if num % i == 0:
        print('not prime')
        break
else:
    print('prime')

prime

# while loop

In [ ]:
x = 10
while x > 0:
    x-=2
    print(x)

8
6
4
2
0

In [91]:
total = 0
while True:
    num = int(input('enter a number:  '))
    if num == 0:
        break
    total += num
print(f'total is {total}')

total is 3

In [96]:
books = []
while True:
    name = input("Enter book Name: ")
    if name:
        books.append(name)
    else:
        break
print('These are your books')
print(books)

These are your books
['quantum']