In [1]:
my_tuple = (1,"hello",2.3)
print(my_tuple)

(1, 'hello', 2.3)

In [2]:
my_tuple = ("mouse",[1,2,3],(3,4,5))
print(my_tuple)

('mouse', [1, 2, 3], (3, 4, 5))

In [4]:
my_tuple = 3,4.5,"apple"
print(my_tuple)

(3, 4.5, 'apple')

In [7]:
my_tuple = ('d','f','h','f','k')
print(my_tuple[0])
print(my_tuple[4])

d
k

In [8]:
n_tuple = ('mouse',[2,3,6,7],(1,3,5))
print(n_tuple[0][3])
print(n_tuple[1][1])

s
3

In [9]:
my_tuple = ('s','d','f','g','h','t','g','k','l')
print(my_tuple[1:4])
print(my_tuple[:-4])
print(my_tuple[4:])
print(my_tuple[:])

('d', 'f', 'g')
('s', 'd', 'f', 'g', 'h')
('h', 't', 'g', 'k', 'l')
('s', 'd', 'f', 'g', 'h', 't', 'g', 'k', 'l')

In [10]:
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [11]:
print(("repeat",)*4)

('repeat', 'repeat', 'repeat', 'repeat')

In [12]:
my_tuple = ('q','w','r','t','p')
print(my_tuple.count('p'))
print(my_tuple.index('w'))

1
1

# set

In [1]:
my_set = {1,2,3}
print(my_set)

{1, 2, 3}

In [2]:
my_set = {1,'hello',(1,2,3)}
print(my_set)

{1, (1, 2, 3), 'hello'}

In [3]:
my_set = {1,2,3,4,5,6,7,8,9}
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [4]:
my_set = set([1,2,3,2,1])
print(my_set)

{1, 2, 3}

In [7]:
A = {1,2,3,4,5}
B = {3,4,5,6,7}
print(A|B)
print(A.union(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [8]:
print(A&B)

{3, 4, 5}

In [9]:
A.intersection(B)

{3, 4, 5}

In [10]:
print(A-B)

{1, 2}

In [11]:
A.difference(B)

{1, 2}

In [12]:
B.difference(A)

{6, 7}

In [13]:
print(A^B)

{1, 2, 6, 7}

In [14]:
A.symmetric_difference(B)

{1, 2, 6, 7}

Create two sets of electric devices and perform set operations on them

In [2]:
A = {'fan','tv','oven','dish_washer',}
B = {'printer','tv','oven','led'}
print(A)
print(B)
print(A|B)
print(A^B)
print(A&B)
print(A-B)
print(B-A)

{'fan', 'tv', 'oven', 'dish_washer'}
{'printer', 'tv', 'oven', 'led'}
{'printer', 'fan', 'tv', 'oven', 'dish_washer', 'led'}
{'printer', 'fan', 'dish_washer', 'led'}
{'tv', 'oven'}
{'fan', 'dish_washer'}
{'printer', 'led'}